<template>
    <h1>New track</h1>
    <hr />
    <div class="mt-4">
        <form submit.delegate="newTrack()">
            <div class="form-group row">
                <label for="nameInput" class="col-sm-2 col-form-label">Name</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="nameInput" placeholder="Name" value.bind="_track.name">
                </div>
            </div>
            <div class="form-group row">
                <label for="descriptionInput" class="col-sm-2 col-form-label">Description</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="descriptionInput" placeholder="Description"
                        value.bind="_track.description">
                </div>
            </div>
            <div class="form-group row mt-4">
                <div class="col-sm-10">
                  <a route-href="route: tracks-index" class="btn btn-secondary">Back to list</a>
                  <button type="submit" class="btn btn-primary">Add track</button>
                </div>
              </div>
        </form>
    </div>
</template>
