<template>
    <require from="/Users/siret/code/javascript/sportmap-aurelia/src/components/delete/delete"></require>
    <form id="trackpoint" method="post" submit.trigger="onSubmit($event)">
        <h4>Add a new trackpoint</h4>
        <!-- <h4 if.bind="_errorMessage != null" style="color:red;">${_errorMessage}</h4> -->
        <hr />
        <div class="row">
            <div class="col form-group">
                <label for="Input_Latitude">Latitude</label>
                <input class="form-control" type="text" value.bind="_latitude" />
            </div>
            <div class="col form-group">
                <label for="Input_Longitude">Longitude</label>
                <input class="form-control" type="text" value.bind="_longitude" />
            </div>
        </div>
        <div class="row">
            <div class="col form-group">
                <label for="Input_Longitude">Accuracy</label>
                <input class="form-control" type="text" value.bind="_accuracy" />
            </div>
            <div class="col form-group">
                <label for="Input_Longitude">Pass order</label>
                <input class="form-control" type="text" value.bind="_passOrder" />
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Add</button>
        </div>
    </form>
    <div id="map"></div>
    <h4 class="mt-4 mb-3">Trackpoints</h4>
    <table class="table table-striped" aurelia-table="data.bind: trackpoints; display-data.bind: $displayData">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Latitude</th>
                <th scope="col">Longitude</th>
                <th scope="col">Accuracy</th>
                <th scope="col" aut-sort="key: passOrder">Pass order</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr repeat.for="trackpoint of $displayData">
                <th scope="row">${trackpoint.id}</th>
                <td>${trackpoint.latitude}</td>
                <td>${trackpoint.longitude}</td>
                <td>${trackpoint.accuracy}</td>
                <td>${trackpoint.passOrder}</td>
                <td>
                    <delete msg="Are you sure you want to delete this trackpoint"
                        action.call="$parent.delete(trackpoint.id)"></delete>
                </td>
            </tr>
        </tbody>
    </table>
</template>
