<template>
    <require from="../../components/delete/delete"></require>
    <require from='../../utils/async-binding-behavior'></require>
    <div>
        <h1>Track ${_track.id}</h1>
        <h4>${numberOfTrackpoints(_track.id) & async} trackpoints,
        ${trackLength(_track.id) & async} km</h4>
    </div>
    <div id="map" class="mt-4"></div>
    <div class="row mt-4 mb-3">
        <div class="col">
            <h4>Trackpoints</h4>
        </div>
        <div class="col">
            <button class="btn btn-outline-secondary float-right" type="button" data-toggle="collapse"
                data-target="#collapseForm" aria-expanded="false" aria-controls="collapseForm">
                Add
            </button>
        </div>
    </div>
    <div class="collapse" id="collapseForm">
        <form id="trackpoint" method="post" submit.trigger="onSubmit($event)">
            <div class="row">
                <div class="col form-group">
                    <label for="Input_Latitude">Latitude</label>
                    <input class="form-control" type="text" value.bind="_latitude" />
                    <small id="latitudeHelp" class="form-text text-muted">e.g. 20, 24.5, 38.69</small>
                </div>
                <div class="col form-group">
                    <label for="Input_Longitude">Longitude</label>
                    <input class="form-control" type="text" value.bind="_longitude" />
                    <small id="latitudeHelp" class="form-text text-muted">e.g. 20, 24.5, 38.69</small>
                </div>
                <div class="col form-group">
                    <label for="Input_Longitude">Accuracy</label>
                    <input class="form-control" type="text" value.bind="_accuracy" />
                    <small id="latitudeHelp" class="form-text text-muted">e.g. 10, 0.9, optional</small>
                </div>
                <div class="col form-group">
                    <label for="Input_Longitude">Pass order</label>
                    <input class="form-control" type="text" value.bind="_passOrder" />
                    <small id="latitudeHelp" class="form-text text-muted">Must be an integer, optional</small>
                </div>
            </div>
            <div class="form-group float-right">
                <button type="submit" class="btn btn-outline-primary">Add</button>
            </div>
        </form>
    </div>
    <table class="table table-bordered" aurelia-table="data.bind: trackpoints; display-data.bind: $displayData">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Latitude</th>
                <th scope="col">Longitude</th>
                <th scope="col">Accuracy</th>
                <th scope="col" aut-sort="key: passOrder">Pass order</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr repeat.for="trackpoint of $displayData" aut-select="row.bind: trackpoint; custom.bind: true; mode: single"
            select.delegate="rowSelected($event)">
                <th scope="row">${trackpoint.id}</th>
                <td class="trackpoint-cell" if.bind="editing !== trackpoint">${trackpoint.latitude}</td>
                <td class="trackpoint-cell" if.bind="editing !== trackpoint">${trackpoint.longitude}</td>
                <td class="trackpoint-cell" if.bind="editing !== trackpoint">${trackpoint.accuracy}</td>
                <td class="trackpoint-cell" if.bind="editing !== trackpoint">${trackpoint.passOrder}</td>

                <td if.bind="editing === trackpoint"><input class="trackpoint-input" value.bind="trackpoint.latitude" type="text"></td>
                <td if.bind="editing === trackpoint"><input class="trackpoint-input" value.bind="trackpoint.longitude" type="text"></td>
                <td if.bind="editing === trackpoint"><input class="trackpoint-input" value.bind="trackpoint.accuracy" type="text"></td>
                <td if.bind="editing === trackpoint"><input class="trackpoint-input" value.bind="trackpoint.passOrder" type="text"></td>

                <td>
                    <!-- <input type="checkbox" checked.bind="trackpoint.$isSelected"/> -->
                    <a if.bind="editing !== trackpoint" class="btn btn-outline-secondary btn-sm" click.delegate="trackpoint.$isSelected = true">Edit</a>
                    <a if.bind="editing === trackpoint" class="btn btn-outline-secondary btn-sm" click.delegate="update(trackpoint)">Save</a>
                    <delete msg="Are you sure you want to delete this trackpoint"
                        action.call="$parent.delete(trackpoint.id)"></delete>
                </td>

            </tr>
        </tbody>
    </table>
</template>
