<template>
    <require from="../../components/delete/delete"></require>
    <require from='../../utils/async-binding-behavior'></require>
    <div class="row">
        <div class="col">
            <h1>Tracks</h1>
        </div>
        <div class="col">
            <div class="float-right">
                <!-- <a route-href="route: tracks-create" class="btn btn-outline-secondary">Filter</a> -->
                <div class="btn-group">
                    <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Filter
                    </button>
                    <form class="dropdown-menu dropdown-menu-right p-4">
                        <div class="form-group">
                            <label for="exampleDropdownFormEmail2">Enter name or description to filter</label>
                            <input type="text" value.bind="filters[0].value" class="form-control" />
                        </div>
                    </form>
                </div>
                <!-- <a route-href="route: tracks-create" class="btn btn-outline-secondary">Add new</a> -->
                <button class="btn btn-outline-secondary" type="button" data-toggle="collapse"
                    data-target="#collapseForm" aria-expanded="false" aria-controls="collapseForm">
                    Add new
                </button>
            </div>
        </div>
    </div>

    <div class="collapse" id="collapseForm">
        <form id="trackpoint" method="post" submit.trigger="onSubmit($event)">
            <div class="row">
                <div class="col-4 form-group">
                    <label for="Input_Name">Name</label>
                    <input class="form-control" type="text" value.bind="_description" />
                    <small id="latitudeHelp" class="form-text text-muted">e.g. 20, 24.5, 38.69</small>
                </div>
                <div class="col-8 form-group">
                    <label for="Input_Description">Description</label>
                    <input class="form-control" type="text" value.bind="_name" />
                    <small id="latitudeHelp" class="form-text text-muted">e.g. 20, 24.5, 38.69</small>
                </div>
            </div>
            <div class="form-group float-right">
                <button type="submit" class="btn btn-outline-primary">Add</button>
            </div>
        </form>
    </div>

    <table class="table table-bordered mt-3"
        aurelia-table="data.bind: tracks; display-data.bind: $displayData; filters.bind: filters">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col" aut-sort="custom.bind: sort">Trackpoints</th>
                <th scope="col" aut-sort="custom.bind: sort">Length</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr repeat.for="track of $displayData" aut-select="row.bind: track; custom.bind: true; mode: single"
            select.delegate="rowSelected($event)">
                <th class="id-cell" scope="row">${track.id}</th>
                <td class="track-cell" if.bind="editing !== track">${track.name}</td>
                <td class="track-cell" if.bind="editing !== track">${track.description}</td>
                <td if.bind="editing === track"><input class="track-input" value.bind="track.name" type="text"></td>
                <td if.bind="editing === track"><input class="track-input" value.bind="track.description" type="text"></td>
                <td>${numberOfTrackpoints(track.id) & async}</td>
                <td>${trackLength(track.id) & async} km</td>
                <td class="button-cell">
                    <a route-href="route: track-details; params.bind: { id: track.id }"
                        class="btn btn-outline-primary btn-sm">Details</a>
                    <a if.bind="editing !== track" class="btn btn-outline-secondary btn-sm"
                        click.delegate="track.$isSelected = true">Edit</a>
                    <a if.bind="editing === track" class="btn btn-outline-secondary btn-sm"
                        click.delegate="update(track)">Save</a>
                    <delete msg="Are you sure you want to delete track ${track.name}"
                        action.call="$parent.delete(track.id)"></delete>
                </td>
            </tr>
        </tbody>
    </table>
</template>
