<template>
    <require from="/Users/siret/code/javascript/sportmap-aurelia/src/components/delete/delete"></require>
    <require from='/Users/siret/code/javascript/sportmap-aurelia/src/utils/async-binding-behavior'></require>
    <div class="row">
        <div class="col">
            <h1>Tracks</h1>
        </div>
        <div class="col">
            <div class="float-right">
                <a route-href="route: tracks-create" class="btn btn-outline-secondary">Add new</a>
            </div>
        </div>
    </div>

    <div class="form-group">
        <input type="text" value.bind="filters[0].value" placeholder="Enter name or description to filter" class="form-control" />
    </div>

    <table class="table table-striped" aurelia-table="data.bind: tracks; display-data.bind: $displayData; filters.bind: filters">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col" aut-sort="custom.bind: sort">Trackpoints</th>
                <th scope="col" aut-sort="custom.bind: sort">Length</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr repeat.for="track of $displayData">
                <th scope="row">${track.id}</th>
                <td>${track.name}</td>
                <td>${track.description}</td>
                <td>${numberOfTrackpoints(track.id) & async}</td>
                <td>${trackLength(track.id) & async} km</td>
                <td>
                    <a route-href="route: track-details; params.bind: { id: track.id }" class="btn btn-outline-primary btn-sm">Details</a> 
                    <delete msg="Are you sure you want to delete track ${track.name}" action.call="$parent.delete(track.id)"></delete>
                </td>
            </tr>
        </tbody>
    </table>
</template>
