<template>
    <div class="form-group">
        <label for="sessionSelect">Sessions</label>
        <select value.bind="selectedGpsSession" class="form-control" id="sessionSelect">
            <option model.bind="null">Choose...</option>
            <option repeat.for="gpsSession of gpsSessions" model.bind="gpsSession">
                ${gpsSession.userFirstLastName} - ${gpsSession.name} - Locations: ${gpsSession.gpsLocationsCount} - ${gpsSession.recordedAt}
            </option>

        </select>
    </div>
    <div id="map"></div>
</template>
